@use "../../../styles/variables.scss";
.wrapper {
  padding: 6.25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
}
.warning {
  color: red;
  font-size: .75rem;
  padding-left: .3125rem;
}
