$primary-hover: #45a049; // Цвет для эффекта наведения на кнопку
$primary-color: #388E3C;  // Основной зеленый цвет
$text-color: #333333; // Основной цвет текста
$light-color: #ffffff; // Светлый текст (на кнопках)
$background-color: #f7f7f7;    // Цвет фона страницы
$primary-text-hover: #03a9f4; // для ссылок 