@use '../../../styles/variables.scss';
.wrapper {
    display: flex;
    margin: 1.25rem;
    gap: 3.125rem;
}
.habbitWrapper {
    border: .0625rem solid #000;
    padding: 1.25rem;
    width: 50%;
}
.addButton {
    display: block;
    
}
form {
    p {
        color: variables.$text-color;
        font-size: 1.25rem;
    }
    textarea, input{
        resize: none;
        outline: none;
    }
    textarea {
        padding: .625rem;
    }
    input {
        padding: .3125rem .4375rem;
    }
}