@use "../../styles/variables.scss";
.wrapper {
  display: flex;
  margin: 1.25rem;
  gap: 3.125rem;
  flex-wrap: wrap;
  justify-content: center;
  color: variables.$text-color;
}
.habitList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22.5rem, 1fr));
  gap: 1.25rem;
  padding: 1.25rem;
}